:root {
    --sans-font: 'Roboto', sans-serif;
    --subheader-font: 'Roboto Condensed', sans-serif;
    --header-font: 'Gugi', cursive;
    --dark: #444444;
    --darker: #222222;
    --light: #d3d2c7;
    --lightest: #f1f1f1;
    --green: #3cbbb0;
    --dark-red: #680000;
    --baby-blue: #69BAE0;
}

body {
    font-family: var(--sans-font);
}

h1,
h2 {
    font-family: var(--header-font);
    color: var(--darker);
}

h3,
h4,
h5,
h6 {
    font-family: var(--subheader-font);
    color: var(--dark);
}

p,
ol,
ul,
li,
th,
td,
tr {
    font-family: var(--sans-font);
    color: var(--dark);
}

.container {
    margin: 3rem;
    text-align: left;
}

p.subtitle {
    color: var(--light);
}

li.completed {
    color: var(--light);
}

.card {
    background-color: var(--lightest);
    border-radius: 5px;
    display: flex;
}

.card-body {
    padding: 1.5rem;
}

#incompleteTodos {
    font-size: 1.2rem;
    color: var(--dark-red);
}

button.btn {
    font-family: var(--sans-font);
    border-radius: 5px;
    padding: 0.7rem 1rem;
    margin: 1rem;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: var(--green) 0px -3px 0px 0px inset;
}

button.btn-sm {
    font-family: var(--sans-font);
    border-radius: 5px;
    padding: 0.2rem 0.5rem;
    margin: 1rem;
    font-size: 0.7rem;
    cursor: pointer;
}

button.add {
    background-color: var(--light);
    border: 1px solid var(--light);
    color: var(--green);
    margin-left: 0;
    box-shadow: 0;
    box-shadow: var(--green) 0px -3px 0px 0px inset;
}

button.add:hover {
    background-color: var(--light);
    border: 1px solid var(--light);
    color: var(--dark);
    box-shadow: var(--dark) 0px -3px 0px 0px inset;
}

button.clear, button.delete {
    background-color: var(--dark-red);
    border: 1px solid var(--dark-red);
    color: var(--light);
}

button.clear:hover {
    background-color: var(--light);
    border: 1px solid var(--light);
    color: var(--dark);
}

input[type="text"]#searchTodoInput {
    width: 100%;
    padding: 0.5rem 1rem;
    font-family: var(--sans-font);
    font-size: 0.8rem;
    border: 1px solid var(--light);
    /* border-left: 3px solid var(--dark); */
}

input[type="text"]#addTodoInput {
    min-width: 100%;
    padding: 0.5rem 1rem;
    font-family: var(--sans-font);
    font-size: 0.8rem;
    border: 1px solid var(--light);
    border-left: 3px solid var(--light);
    box-shadow: var(--green) 0px -3px 0px 0px inset;
}

i.fa-square {
    padding-right: 1rem;
}

#todos>p {
    /* border-bottom: 1px solid var(--lightest);
    border-left: 5px solid var(--lightest); */
    /* padding: 0.5rem 1rem 1rem 1rem; */
}

label.checkbox,
input[type="checkbox"] {
    cursor: pointer;
}

s.completed {
    color: var(--green);
}

#sort {
    margin-left: 2rem;
}