:root {
    --sans-font: 'Nunito Sans', sans-serif;
    --header-font: 'Gugi', cursive;
    --dark: #444444;
    --darker: #222222;
    --light: #d3d2c7;
    --green: #729C61;
    --dark-red: #cc1818;
}

body {
    font-family: var(--sans-font);
}

h1,
h2,
h3,
h4 {
    font-family: var(--header-font);
    color: var(--darker);
}

h5,
h6,
p,
ol,
ul,
li,
th,
td,
tr {
    font-family: var(--sans-font);
    color: var(--dark);
}

.container {
    margin: 3rem;
    text-align: left;
}

p.subtitle {
    color: var(--light);
}

li.completed {
    color: var(--light);
}

.incomp-todos {
    font-size: 1.2rem;
    color: var(--green);
}

button.btn {
    font-family: var(--header-font);
    border-radius: 5px;
    padding: 0.7rem 1rem;
    margin: 1rem;
    font-size: 1rem;
    cursor: pointer;
}

button.add {
    background-color: var(--light);
    border: 1px solid var(--light);
    color: var(--dark);
}

button.add:hover {
    background-color: var(--darker);
    border: 1px solid var(--darker);
    color: var(--green);
}

button.clear {
    background-color: var(--dark-red);
    border: 1px solid var(--dark-red);
    color: var(--light);
}

button.clear:hover {
    background-color: var(--light);
    border: 1px solid var(--light);
    color: var(--dark);
}